*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/************************************************
                     Global
************************************************/

body{
    background-color: rgb(148, 148, 148);
}

header{
    border-bottom: 3px rgb(87, 58, 58) solid;
    height: auto;
    min-height: 105.906px;
}

h2{
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-align: center;
    font-size: 3em;
}

.container{
    background-color: grey;   
}

.logo{
    text-align: center;
}

.logo a{
    max-width: 250px;
    margin: auto;
}

.logo img{
    min-width: 250px;
}
ul{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
}

a:visited{
    font-style: none;
    color: inherit;  
}

nav a.mobile_menu{
    width: 32px;
    height: 32px;
    background: url(../Images/icon_menu.svg) no-repeat 0 0;
    position: absolute;
    top: 40px;
    right: 1%;
    display: none;
}

/************************************************
              Dropdown menu for Nav
************************************************/
/* Still Global */

.menu-container{
    margin: auto;
    height: 100%;
    text-align: center;
}

.menu-container > li{
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    transition: all 0.8s ease;
}

.menu-container li:hover{
    cursor: pointer;
    background-color: rgb(147, 191, 206);
    border: 1px rgb(210, 210, 250) solid;
}

.menu{
    position: relative;
    width: 10%;
    
    
}

.dropdown{
    position: absolute;
    width: 100%;
    text-align: left;
    left: 0;
    top: 100%;
    background-color: rgb(180, 236, 255); 
    z-index: 1;
    
}
.menu .dropdown li{
    display: none;
    padding: 10px 15px;
    
    
}

.menu:hover .dropdown li{
    display: block;
    border: 1px rgb(123, 123, 190) solid;
   
}

/********************************* 
        Front page content 
*********************************/

.front-content{
    margin: 50px;
    text-align: center;
}

.front-image{
    width: 70%;
    height: 400px;
    border-radius: 10px;
    margin-top: 25px;
}

.front-ul li{
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    transition: all 0.8s ease;
    border-radius: 5px;
    
}

.front-ul li:hover{
    cursor: pointer;
    background-color: rgb(147, 191, 206);
    border: 1px rgb(210, 210, 250) solid;
    margin: 0px 50px 0px 50px;
}

.front-content p{
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

footer p{
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

/* Media Queries */

@media screen and  (max-width: 1200px){

    .front-image{
        height: 350px; 
    }
    .menu-container > li{
        font-size: 0.8em;
    }

}

@media screen and  (max-width: 1000px){

h2{
    font-size: 2.5em;
}

.front-content p{
    font-size: 1.2em;
}

.front-image{
    height: 250px; 
}

}

@media screen and  (max-width: 825px){

    h2{
        font-size: 2.2em;
    }
    
    .front-content p{
        font-size: 1.08em;
    }
    
    .front-image{
        width: 495.594px; 
    }

    .menu-container > li{
        font-size: 0.7em;
    }


}

@media screen and  (max-width: 725px){

    nav a.mobile_menu{
        display: block;
    }

    .menu-container > li{
        margin-top: 2px;
        width: 100%;
        display: list-item;
        background-color: rgb(191, 191, 204);
        font-size: 1em;
    }

    .front-ul li{
    display: list-item;
    margin-top: 2px;
    padding: 10px 10px;
    background-color: rgb(191, 191, 204);
    border: 1px black solid;
}

}

@media screen and  (max-width: 625px){



    .front-image{
        height: 200px;
        width: 400px; 
    }

}

@media screen and  (max-width: 520px){

    header{
        background-position: left bottom;
    }
    
    .front-image{
        height: 150px;
        width: 100%; 
    }

}

@media screen and  (max-width: 325px){

    .front-image{
        height: 120px;
        width: 100%; 
    }

}